html {
  height: 100%;
  width: 100%;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

body {
  font-family: Verdana, Tahoma, Geneva, 'Segoe UI', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 980px;
	background: #ffffff;
	margin: auto;
}

/*The style for the navigation bar*/
navigation {
  width: 980px;
  margin: 0;
  padding: 0;
  text-align: center;
}

navigation ul {
  width: 980px;
  list-style: none;
  background-color: #ff0202;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

navigation ul li {
  display: inline;
  float:left;
}

navigation ul li a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

navigation ul li a:hover {
  text-decoration: underline;
}

/* The class for the current page in the navigation */
.active {
  background-color: #cc0000;
  color: #ffffff;
  cursor: default;
}

/*The style for the footer*/
footer{
  width: 980px;
  height: 40px;
  flex-shrink: 0;
  padding: 10px 20px;
  background: #ff0202;
  color: #ffffff;
}

/* Content of the website */
#content {
  flex: 1 0 auto;
  width: 980px;
  min-height: 500px;
}

#message {
  flex: 1 0 auto;
  width: 980px;
}

#map_space{
  height: 600px;
  max-width: 980px;
  background-color: white;
  border: 2px solid black;
}
